<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="uk.co.automationtesting.AddRemoveItemBasketTest"/>
      <class name="uk.co.automationtesting.OrderCompleteTest"/>
      <class name="uk.co.automationtesting.ShopLoginTest"/>
      <class name="uk.co.automationtesting.AccordionTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
